<app-navbar></app-navbar>
<main class="newpl-container">
  <section class="newpl-box">
    <article class="header d-flex justify-content-between">
      <h1 tabindex=0>Nuevo Álbum</h1>
      <button class="go-back btn btn-outline-dark" aria-label="Volver a artista" (click)="goBack()">X</button>
    </article>
    <form [formGroup]="newAlbum" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="nameAlbum" class="label">*Nombre</label>
        <input class="form-control"
        type="text"
        #nameAlbum
        id="nameAlbum"
        [class.is-invalid]="nameInvalid"
        formControlName="name">
        <small *ngIf="nameInvalid" class="formError">Escriba un nombre válido, entre 2 y 20 caracteres.</small>
      </div>

      <div class="form-group">
        <label for="anyoAlbum" class="label">*Año</label>
        <input class="form-control" min="0" max="{{currentYear}}"
        type="number"
        #yearAlbum
        id="anyoAlbum"
        [class.is-invalid]="yearInvalid"
        formControlName="year">
        <small *ngIf="yearInvalid" class="formError">Escriba un año válido. Debe ser menor al actual.</small>
      </div>

      <div class="form-group">
        <label for="exampleInputImage" class="upload-img label-img">*Imagen</label>
        <input class="form-control upload-img"
        type="file"
        (change)="setFile($event)"
        formControlName="image">
        <small *ngIf="!isFile" class="formError">Es obligatorio añadir una imagen para el álbum.</small>
      </div>

      <button type="submit" [disabled]="newAlbum.invalid" class="btn btn-dark" aria-label="Crear">CREAR</button>
    </form>
  </section>

  <section *ngIf="createError" class="modal d-block" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <section class="modal-dialog modal-dialog-centered modal-sm border-orange">
      <section class="modal-content bg-black text-white">
        <article class="modal-body">
          <button type="button" class="btn-close btn-close-white" aria-label="Cerrar tutorial" (click)="closeModalError()"></button>
          <p class="modal-text" style="color: white;">
             ¡Ese nombre ya existe!
          </p>
        </article>
      </section>
    </section>
  </section>
</main>
<app-reproductor></app-reproductor>
