<app-navbar></app-navbar>
<app-spinner *ngIf="!userInfo"></app-spinner>
<section *ngIf="userInfo">
<section class="buscadorSection">
    <input class="buscadorInput" type="text" #search (keyup.enter)="setFilterName(search.value)" placeholder="¿Qué te apetece escuchar?">
        <button (click)="setFilterName(search.value)" class="lupa btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
        </button>
</section>

<section class="busquedaContainer container">
  <section class="row">
      <section class="encontradoContainer col-lg-10 col-sm-8 col-xs-5">
        <div class="container">
          <div *ngIf="cboxArtist && filteredArtistsLength!=0" class="artist-container">
            <h2>Artistas</h2>
            <div class="carousel-container align-items-center">
              <div class="d-flex justify-content-end">
                <button class="btn btn-light pag-button-prev" (click)="decreasePagArtist()">
                  <svg xmlns="http://www.w3.org/2000/svg" width="40" height="47" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
                  </svg>
                </button>
              </div>

              <div class="carousel-content">
                <div class="row row-cols-auto">
                  <section class="d-flex flex-wrap col">
                    <app-tarjeta-artista *ngFor="let artist of artists | byName:getFilterName() | slice:pagArtist:pagArtist+4" [artist]="artist"></app-tarjeta-artista>
                  </section>
                </div>
              </div>

              <div class="d-flex justify-content-end">
                <button class="btn btn-light pag-button-next" (click)="increasePagArtist()">
                  <svg xmlns="http://www.w3.org/2000/svg" width="40" height="47" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                  </svg>
                </button>
              </div>
            </div>
          </div>

          <div *ngIf="cboxAlbum && filteredAlbumsLength">
            <h2>Albumes</h2>

            <div class="carousel-container align-items-center">
              <div class="d-flex justify-content-end">
                <button class="btn btn-light pag-button-prev" (click)="decreasePagAlbum()">
                  <svg xmlns="http://www.w3.org/2000/svg" width="40" height="47" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
                  </svg>
                </button>
              </div>

              <div class="carousel-content">
                <div class="row row-cols-auto">
                  <section class="d-flex flex-wrap col">
                    <app-tarjeta-album *ngFor="let album of albums | byName:getFilterName() | slice:pagAlbum:pagAlbum+4" [album]="album"></app-tarjeta-album>
                  </section>
                </div>
              </div>

              <div class="d-flex justify-content-end">
                <button class="btn btn-light pag-button-next" (click)="increasePagAlbum()">
                  <svg xmlns="http://www.w3.org/2000/svg" width="40" height="47" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                  </svg>
                </button>
              </div>
            </div>
          </div>

          <div *ngIf="cboxSong && filteredSongsLength">
            <h2>Canciones</h2>
            <section>
              <div class="container">
                <div class="row">
                    <app-tarjeta-cancion *ngFor="let song of songs | byName:getFilterName() | slice:pagSong:pagSong+10" [song]="song" [playlists] = "playlists" (sendSong)="receiveSong($event)"></app-tarjeta-cancion>
                </div>
              </div>
              <button class="btn btn-light pag-button-song" (click)="increasePagSong()">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="47" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                </svg>
              </button>
              <button class="btn btn-light pag-button-song" (click)="decreasePagSong()">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="47" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
                </svg>
              </button>
            </section>
          </div>
        </div>
      </section>

      <section class="sidebar col-lg-2 col-sm-4 col-xs-4">
        <section class="filtrosSection">
          <label>Filtrar por:</label>
            <br>
            <input class="form-check-input" checked name="cboxArtist" (change)="toogleCboxArtist()" type="checkbox">
            <label class="form-check-label" for="flexCheckDefault">
              Artistas
            </label>
              <br>
            <input class="form-check-input" checked name="cboxAlbum" (change)="toogleCboxAlbum()" type="checkbox">
            <label class="form-check-label" for="flexCheckDefault">
              Álbumes
            </label>
              <br>
            <input class="form-check-input" checked name="cboxCancion" (change)="toogleCboxSong()" type="checkbox">
            <label class="form-check-label" for="flexCheckDefault">
              Canciones
            </label>
        </section>

        <section class="adminButtons" *ngIf="isAdmin">
          <button class="cssbuttons-io-button" (click)="newArtista()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path></svg>
            <span>Añadir artista</span>
          </button>
        </section>
      </section>
    </section>
  </section>
</section>
<app-reproductor [receivedSong] = "sendedSong"></app-reproductor>
