<app-navbar></app-navbar>
<div class="spinner-border text-success" role="status" *ngIf="!userInfo"></div>
<section *ngIf="userInfo">
<section class="buscadorSection">
    <input class="buscadorInput" type="text" #search (keyup.enter)="setFilterName(search.value)" placeholder="¿Qué te apetece escuchar?">
        <button (click)="setFilterName(search.value)" class="lupa btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
        </button>
</section>

<section class="busquedaContainer">
    <section class="encontradoContainer">
      <div class="container">
        <h3>Artistas</h3>
        <div class="row row-cols-auto">
          <section class="d-flex flex-wrap col" *ngIf="cboxArtista">
            <app-tarjeta-artista *ngFor="let artista of artistas | byName:getFilterName()" [artista]="artista" ></app-tarjeta-artista>
          </section>
        </div>
      </div>

        <h3>Albumes</h3>
        <section *ngIf="cboxAlbum">
          <div class="row row-cols-auto">
            <section class="d-flex flex-wrap col" *ngIf="cboxArtista">
              <!-- <app-tarjeta-artista *ngFor="let artista of artistas | byName:getFilterName()" [artista]="artista" ></app-tarjeta-artista> -->
            </section>
          </div>
        </section>
        <h3>Canciones</h3>
        <section *ngIf="cboxCancion">
          <div class="row row-cols-auto">
            <section class="d-flex flex-wrap col" *ngIf="cboxArtista">
              <!-- <app-tarjeta-artista *ngFor="let artista of artistas | byName:getFilterName()" [artista]="artista" ></app-tarjeta-artista> -->
            </section>
          </div>
        </section>
    </section>

    <section class="sidebar">
      <section class="filtrosSection">
          <label>Filtrar por:<br>
              <input type="checkbox" checked (change)="toogleCboxArtista()">Artistas
          </label><br>
          <label>
              <input type="checkbox" checked name="cboxAlbum" (change)="toogleCboxAlbum()">Albumes
          </label><br>
          <label>
              <input type="checkbox" checked name="cboxCancion" (change)="toogleCboxCancion()">Canciones
          </label>
      </section>

      <section class="adminButtons" *ngIf="isAdmin">
        <button class="cssbuttons-io-button" (click)="newArtista()">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path></svg>
          <span>Añadir artista</span>
        </button>
      </section>
    </section>
</section>
<app-reproductor></app-reproductor>
</section>
