<section class="login-container">

  <section class="frog-container">
    <img src="../../../assets/mediafrogLogo.svg" alt="logo-mediafrog" class="frog">
  </section>
  <section class="login-box">
    <h1 style="padding-bottom: 20px;">INICIA SESIÓN</h1>
    <div>
      <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="exampleInputEmail">E-mail</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="email" placeholder="Introduzca email" formControlName="email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Contraseña</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Introduzca contraseña" formControlName="password">
        </div>
        <button type="submit" class="btn btn-dark" [disabled]="formLogin.pristine">ENTRAR</button>
        <button class="btn btn-outline-dark" (click)="goToRegistro()">REGISTRATE</button>
      </form>
    </div>
  </section>
</section>
<app-footer></app-footer>
