.card-playlist{
  color: white;
  margin-top: 15px;
}

.btn {
  color: black;
  border: none;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
  background-color: white;
  cursor: pointer;
}

.btn svg {
  transition: fill 0.3s;
}

.btn:hover svg {
  fill: black;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

