<nav class="navbar navbar-expand-md d-flex justify-content-between" *ngIf="userInfo">
    <a routerLink="/home" class="navbar-brand title" href="#">
      <img class="logo" src="../../../../assets/mediafrogLogo.svg" alt="Logo de Mediafroggy - Rana escuchando musica">
      M<em>ediaFroggy</em>
    </a>
    <button class="navbar-toggler" type="button" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span> <!-- Icono de menú -->
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" [class.show]="isNavbarOpen">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a routerLink="/home" routerLinkActive="active" class="nav-link" tabindex=0>INICIO</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin">
          <a routerLink="/users" routerLinkActive="active" class="nav-link" tabindex=0>USUARIOS</a>
        </li>
        <li class="nav-item">
          <a routerLink="/buscador" routerLinkActive="active" tabindex=0 class="nav-link">BUSCADOR</a>
        </li>
        <li class="nav-item">
          <a routerLink="/perfil" routerLinkActive="active" tabindex=0 class="nav-link">PERFIL</a>
        </li>
      </ul>
      <ul class="navbar-nav logout">
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link" tabindex=0 (click)="onClick()">CERRAR SESION</a>
        </li>
      </ul>
    </div>
</nav>




