<!-- <app-spinner></app-spinner> -->
<section class="register-container">
  <article class="frog-container">
    <img src="../../../assets/mediafrogLogo.svg" alt="Logo de Mediafroggy - Rana escuchando musica" class="frog">
  </article>
  <article class="register-box">
    <h1 tabindex=0>REGISTRATE</h1>
    <div>
      <form [formGroup]="formReg" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="exampleInputEmail1">*E-mail</label>
          <input type="email" class="form-control" #email required id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Introduzca e-mail" formControlName="email">
        </div>
        <div class="form-group">
          <label for="exampleInputUser1">*Usuario</label>
          <input type="text" class="form-control" #username required id="exampleInputUser1" placeholder="Introduzca usuario" formControlName="username">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">*Contraseña</label>
          <input type="password" class="form-control" #password required id="exampleInputPassword1" placeholder="Introduzca contraseña" formControlName="password">
        </div>
        <button type="submit" class="btn btn-dark" [disabled]="(password.value.length < 5 || email.value.length === 0 || username.value.length === 0)" id="entra">ÚNETE</button>
        <button class="btn btn-outline-dark" (click)="goToLogin()">INICIA SESIÓN</button>
      </form>
    </div>
  </article>
</section>


