.buscadorSection{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

.buscadorInput{
    width: 60%;
    color:green;
    margin-right: 5px;
}

.buscadorInput::placeholder{
    color: green;
}

.busquedaContainer{
    display: flex;
    justify-content: space-around;
}

.encontradoContainer{
    border: solid 5px red;

}

.filtrosSection{
    border: solid 5px red;
    background-color: whitesmoke;
    margin-right: 45px;
}

.filtrosSection>p{
    color: green;
}