<div class="col-md-2" >
    <div class="card custom-card">
      <img *ngIf="album.image" [src]="album.image" alt="IMAGEN ALBUM" class="card-img-top">
      <img *ngIf="!album.image" src="../../../../assets/defaultImageProfile.jpg" class="card-img-top"> -->
      <div class="card-body">
        <h5 class="card-title">{{album.nombre}}</h5>
        <p class="card-subtitle">{{album.anyo}}</p>
        <p *ngFor="let canc of album.canciones">Cancion del album con nombre:{{canc.titulo}}</p>
      </div>
    </div>
</div>
