h1, h5 {
  color:white;
}

.artistaDisp {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
  margin: 20px 20px;
}

.custom-card {
  background-color: transparent;
}

.artista-img {
  grid-column: 2 / span 3;
}

.artista-nombre {
  grid-column: 5 / span 4;
}

.divBuscador {
  grid-column: 9 / span 4;
  display: flex;
  align-items: center;
}

.lupa {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buscador{
  height: 40px;
  width: 400px;
  border-radius: 10px;
  flex-grow: 1;
}

.container{
  margin-top: 5%;
}

@media (max-width: 768px) {
  .artistaDisp {
    grid-template-columns: repeat(8, 1fr);
  }

  .artista-img {
    grid-column: 1 / span 4;
  }

  .artista-nombre {
    grid-column: 5 / span 4;
  }

  .divBuscador {
    grid-column: 1 / span 8;
  }

  .buscador {
    width: 100%;
    max-width: 400px;
  }
}
