<app-navbar></app-navbar>
<app-spinner *ngIf="!userInfo"></app-spinner>
<main class="profile-container" *ngIf="userInfo">
  <section class="profile-box">
    <article>
      <button class="btn btn-outline-dark" aria-label="Volver a inicio" (click)="goHome()">X</button>
      <br>
      <form [formGroup]="updateUser" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <img class="profile-img" [src]="userInfo.imageProfile" width="100" *ngIf="userInfo.imageProfile" alt="Imagen de perfil">
          <label for="inputImage" class="label-img">Foto de perfil</label>
          <input type="file" accept="image/svg, image/webp, image/png" (change)="setFile($event)" class="form-control upload-img" id="inputImage" formControlName="imageProfile">
        </div>
        <br>
        <div class="form-group">
          <label for="inputUser">Usuario</label>
          <input class="form-control"
          type="text" id="inputUser"
          autocomplete="off"
          placeholder="{{userInfo.username}}"
          [class.is-invalid]="usernameInvalid"
          formControlName="username">
          <small *ngIf="usernameInvalid" class="formError">Nombre de usuario incorrecto. Mínimo 4 caracteres.</small>
        </div>
        <div class="form-group">
          <label for="inputEmail">E-mail</label>
          <input class="form-control"
          type="text" id="inputEmail"
          autocomplete="off"
          placeholder={{userInfo.email}}
          [class.is-invalid]="emailInvalid"
          formControlName="email">
          <small *ngIf="emailInvalid" class="formError">E-mail incorrecto.</small>
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">Nueva Contraseña</label>
          <input class="form-control"
          type="password"
          placeholder="*******"
          autocomplete="off"
          [class.is-invalid]="passwordInvalid"
          formControlName="password">
          <small *ngIf="passwordInvalid" class="formError">Contraseña inválida. Mínimo 6 caracteres</small>
        </div>

        <div class="form-group">
          <label for="inputCurrentPassword">*Contraseña actual</label>
          <input type="password" required class="form-control" autocomplete="off" #currentPassword id="inputCurrentPassword" placeholder="*******" formControlName="currentPassword">
          <p *ngIf="passwordError"> {{passwordError}} </p>
        </div>
        <small tabindex=0>*Por motivos de seguridad, debes indicar tu contraseña actual para realizar cualquier cambio.</small>
        <br>
        <small tabindex=0>*Si actualizas tu e-mail deberás iniciar sesión nuevamente.</small> <br>
        <button type="submit" aria-label="Actualizar perfil" [disabled]="updateUser.invalid || currentPassword.value.length <6 " class="btn btn-dark">ACTUALIZAR</button>
      </form>
    </article>
  </section>
</main>
<app-reproductor></app-reproductor>


