  h1, h5 {
    color:white;
    margin-bottom: 15px;
    margin-right: 10px;
  }

  .playlistDisp {
    margin: 40px 30px;
  }

  .playlistInfo{
    margin-left: 100px;
  }

  .divBuscador {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
    margin-top: 3%;
  }

  .buscador{
    height: 40px;
    width: 400px;
    border-radius: 10px;
    flex-grow: 1;
  }

  .img-owner{
    width: 30px;
    height: 30px;
    border-radius:50%;
  }

  .container{
    margin-top: 5%;
  }

  .addplaylist{
    margin-right:25px;
  }
  .admin-button {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: none;
    position: relative;
    border-radius: 10px;
    -webkit-box-shadow: 1px 1px 5px .2px #00000035;
    box-shadow: 1px 1px 5px .2px #00000035;
    -webkit-transition: .2s linear;
    transition: .2s linear;
    transition-delay: .2s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: space-between;
    margin-right:4px;
    margin-bottom: 10px;
  }

.container {
  margin-top: 10px;
}

.admin-button:hover {
  width: 150px;
  transition-delay: .2s;
}

.admin-button:hover > .paragraph {
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: .4s;
  transition-delay: .4s;
}

.admin-button:hover > .icon-wrapper .icon {
  transform: scale(1.1);
}

.bnt:hover > .icon-wrapper .icon path {
  stroke: black;
}

.paragraph {
  color: black;
  visibility: hidden;
  opacity: 0;
  font-size: 18px;
  margin-right: 5px;
  padding-left: 5px;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 18px;
}

.icon-wrapper {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  transform: scale(.9);
  transition: .2s linear;
}

.icon path {
  stroke: #000;
  stroke-width: 2px;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

label{
  color:white;
}

.copy {
  --button-bg: #ffffff;
  --button-hover-bg: #464646;
  --button-text-color: #000000;
  --button-hover-text-color: #ff8902;
  --button-border-radius: 10px;
  --button-diameter: 36px;
  --button-outline-width: 1px;
  --button-outline-color: rgb(17, 17, 17);
  --tooltip-bg: #f4f3f3;
  --toolptip-border-radius: 4px;
  --tooltip-font-family: Menlo, Roboto Mono, monospace;
  --tooltip-font-size: 12px;
  --tootip-text-color: rgb(14, 14, 14);
  --tooltip-padding-x: 7px;
  --tooltip-padding-y: 7px;
  --tooltip-offset: 8px;
  margin-bottom: 10px;
}

.copy {
  box-sizing: border-box;
  width: var(--button-diameter);
  height: var(--button-diameter);
  border-radius: var(--button-border-radius);
  background-color: var(--button-bg);
  color: var(--button-text-color);
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;
}

.tooltip {
  position: absolute;
  opacity: 0;
  visibility: 0;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font: var(--tooltip-font-size) var(--tooltip-font-family);
  color: var(--tootip-text-color);
  background: var(--tooltip-bg);
  padding: var(--tooltip-padding-y) var(--tooltip-padding-x);
  border-radius: var(--toolptip-border-radius);
  pointer-events: none;
  transition: all var(--tooltip-transition-duration) cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip::before {
  content: attr(data-text-initial);
}

.tooltip::after {
  content: "";
  position: absolute;
  bottom: calc(var(--tooltip-padding-y) / 2 * -1);
  width: var(--tooltip-padding-y);
  height: var(--tooltip-padding-y);
  background: inherit;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  z-index: -999;
  pointer-events: none;
}

.copy svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.checkmark {
  display: none;
}

.copy:hover .tooltip,
.copy:focus:not(:focus-visible) .tooltip {
  opacity: 1;
  visibility: visible;
  top: calc((100% + var(--tooltip-offset)) * -1);
}

.copy:focus:not(:focus-visible) .tooltip::before {
  content: attr(data-text-end);
}

.copy:focus:not(:focus-visible) .clipboard {
  display: none;
}

.copy:focus:not(:focus-visible) .checkmark {
  display: block;
}

.copy:hover,
.copy:focus {
  background-color: var(--button-hover-bg);
}

.copy:active {
  outline: var(--button-outline-width) solid var(--button-outline-color);
}

.copy:hover svg {
  color: var(--button-hover-text-color);
}

.lyrics-container{
  right: 0;
  top: 0;
  padding-top: 190px;
}

.edit-button{
  margin-left: 4px;
  margin-top: 4px;
}

@media (max-width: 767px) {
  .playlistDisp {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px;
  }

  .playlist-name {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .artist-nombre {
    text-align: center;
    margin-left: 0;
  }

  .admin {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .admin-button {
    margin-top: 10px;
  }

  .buscador {
    width: 100%;
    max-width: 400px;
  }

  .lyrics-container{
    position: relative !important;
    padding-top: 0;
  }
}
