<app-navbar></app-navbar>
<main class="newpl-container">
  <section class="newpl-box">
    <article class="header d-flex justify-content-between">
      <h1 tabindex=0>Dale nombre a tu nueva playlist</h1>
      <button class="go-back btn btn-outline-dark" aria-label="Volver a inicio" (click)="goBack()">X</button>
    </article>
    <form [formGroup]="newPlaylist" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="namePlaylist" class="label">*Nombre</label>
        <input class="form-control"
        type="text" id="namePlaylist"
        [class.is-invalid]="nameInvalid"
        formControlName="name">
        <small *ngIf="nameInvalid" class="formError" >Escribe un nombre válido, entre 3 y 17 caracteres.</small>
      </div>

      <h3 tabindex=0>Establece la privacidad:</h3>
      <p tabindex=0>Tu playlist será pública por defecto</p>
      <div class="form-check">
        <input class="form-check-input" id="flexCheckDefault"
        type="checkbox"
        formControlName="private">
        <label class="form-check-label" for="flexCheckDefault">
          Privada
        </label>
      </div>

      <button type="submit" [disabled]="newPlaylist.invalid" aria-label="Crear" class="btn btn-dark">CREAR</button>
    </form>
  </section>

  <section *ngIf="createError" class="modal d-block" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <section class="modal-dialog modal-dialog-centered modal-sm border-orange">
      <section class="modal-content bg-black text-white">
        <article class="modal-body">
          <button type="button" class="btn-close btn-close-white" aria-label="Cerrar tutorial" (click)="closeModalError()"></button>
          <p class="modal-text" style="color: white;">
             ¡Ese nombre ya existe!
          </p>
        </article>
      </section>
    </section>
  </section>
</main>
<app-reproductor></app-reproductor>
