audio{
    width: 100%;
    position: relative;
}

audio::-webkit-media-controls-panel {
    background-color: #E9840E; /* Cambiar el color del botón de reproducción */
    /* Hacer que el botón sea redondeado */
}

audio::-webkit-media-controls-play-button {
    /* Círculo negro */
    background-color: greenyellow;
    /* Tamaño del círculo */
    width: 18px;
    height: 22px;
    /* Bordes redondos */
    border-radius: 50%;
  }

.btn {
  border-radius: 50%;
  margin-left: 1%;
  border: 2px solid black;
}

.repro{
  background-color: #E9840E;
  height: 80px;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: space-between;
}

.infoCancion{
  text-align: center;
  width: 100%;
}

.infoCancion > p{
  margin-bottom: 10px;
  font-size:17px;
  margin: 0;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  max-width: 1400px;
}

.buttons{
  display: flex;
}

.mute{
  margin-right: 10px;
}

.volume-control {
  margin-right: 15px;
}

input[type=range].volume {
  height: 34px;
  margin: 10px 0;
  width: 150px;
  background-color: #E9840E;

}
input[type=range].volume:focus {
  outline: none;
}
input[type=range].volume::-webkit-slider-runnable-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000;
  background: greenyellow;
  border-radius: 3px;
  border: 2px solid #010101;
}
input[type=range].volume::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000031;
  border: 2px solid #00001E;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}
input[type=range].volume:focus::-webkit-slider-runnable-track {
  background: greenyellow;
  border-radius: 3px;
}
input[type=range].volume::-moz-range-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000;
  background: greenyellow;
  border-radius: 3px;
  border: 2px solid #010101;
}
input[type=range].volume::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000031;
  border: 2px solid #00001E;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range].volume::-ms-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].volume::-ms-fill-lower {
  background: greenyellow;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range].volume::-ms-fill-upper {
  background: #74A9D8;
  border: 0px solid #010101;
  border-radius: 2px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range].volume::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #000031;
  border: 3px solid #00001E;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range].volume:focus::-ms-fill-lower {
  background: greenyellow;
  border-radius: 3px;
}
input[type=range].volume:focus::-ms-fill-upper {
  background: greenyellow;
  border-radius: 3px;
}

input[type="range"].time {
  width: 100%;
  height: 10px;
  background-color: #fff;
  border-radius: 5px;
  outline: none;
  margin: 10px 0;
}

input[type="range"].time::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: #000;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"].time::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background-color: #000;
  border-radius: 50%;
  cursor: pointer;
}

.time-line{
  width: 100%;
}

.repro-center{
  width: 60%;
}

@media (max-width: 768px) {
  .repro .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .repro .repro-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .repro .repro-center .time-line {
    display:none;
  }

  .repro .volume-control {
    display: none !important;
  }
  .infoCancion > p{
    max-width: 400px;
  }

}

@media (max-width: 430px) {
  .infoCancion > p{
    margin-left:2%;
    max-width: 170px !important;
  }
}
