.card-song{
  color:white;
  margin-bottom: 6px;
  margin-top: 6px;
  margin-left: 25px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: rgba(62, 58, 53, 0.6);
  border-radius: 15px;
}

.card-song:hover{
  background-color: rgba(85, 80, 74, 0.6);
}

.dropup{
  margin-left: 25px;
}

.dropdown-toggle:hover{
  background-color: #fa9522;
}

.dropdown-toggle:focus{
  background-color: #fa9522;
}

.dropdown-toggle{
  background-color: #e9840e;
}

.playlist{
  margin-left:15px;
}

.playlist:hover{
  background-color: rgba(231, 230, 229, 0.6);
}

.admin-button {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: none;
  position: relative;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: space-between;
  margin-right:4px;
}

.container {
  margin-top: 10px;
}

.admin-button:hover {
 background-color:rgb(182, 180, 180);
}

label{
  color:white;
}
