.card-song{
  color:white;
  margin-bottom: 6px;
  margin-top: 6px;
  padding-bottom: 1%;
  padding-top: 1%;
  padding-left: 2%;
  background-color: rgba(73, 69, 64, 0.6);
  border-radius: 15px;
}

.card-song:hover{
  background-color: rgba(85, 80, 74, 0.6);
  box-shadow: rgba(233, 132, 14, 0.17) 0px -23px 25px 0px inset, rgba(233, 132, 14, 0.15) 0px -36px 30px 0px inset, rgba(233, 132, 14, 0.1) 0px -79px 40px 0px inset, rgba(233, 132, 14, 0.06) 0px 2px 1px, rgba(233, 132, 14, 0.09) 0px 4px 2px, rgba(233, 132, 14, 0.09) 0px 8px 4px, rgba(233, 132, 14, 0.09) 0px 16px 8px, rgba(233, 132, 14, 0.09) 0px 32px 16px;
}

.dropup{
  margin-left: 25px;
}

.dropdown-toggle:hover{
  background-color: #fa9522;
}

.dropdown-toggle:focus{
  background-color: #fa9522;
}

.dropdown-toggle{
  background-color: #e9840e;
  height: 50px;
  width: 50px;
  border-radius: 10px;
}

.dropdown-toggle:after {
  content: none
}

.playlist:hover{
  background-color: rgba(231, 230, 229, 0.6);
}

.admin-button {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: none;
  position: relative;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: space-between;
  margin-left:4px;
}

.edit-button{
  margin-left: 4px;
  margin-top: 4px;
}

.pl-delete{
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #e9840e;
  border: 1px solid #e9840e;
}

pl-delete:hover{
  background-color: #fa9522;
}

.pl-delete:hover svg path {
  fill: white;
}

.container {
  margin-top: 10px;
}

.admin-button:hover {
 background-color:rgb(182, 180, 180);
}

label{
  color:white;
}

.btn-modal{
  margin-top: 5px;
  margin-left: 3px;
  float: right;
}
