thead{
  background-color: gainsboro;
  border-radius: 10px;
}

h2{
  color:#1b1c1e;
  text-align: center;
  padding-bottom: 10px;
}


.users-container{
  max-width: 1000px;
  margin: 0 auto;
  margin-top:2%;
  background-color: #E9840E;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 15px;

}

.btn-modal{
  margin-top: 5px;
  margin-left: 3px;
  float: right;
  width: 40px;
  height: 40px;
}

.btn {
  width: 50px;
  height: 50px;
  border: none;
  position: relative;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: space-between;
}

.table-container {
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
}

