<app-navbar></app-navbar>
<main class="newpl-container" *ngIf="this.order!=0">
  <section class="newpl-box">
    <article class="header d-flex justify-content-between">
      <h1 tabindex=0>Nueva Canción</h1>
      <button class="go-back btn btn-outline-dark" aria-label="Volver a álbum" (click)="goBack()">X</button>
    </article>
    <form [formGroup]="newSong" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="nombre" class="label">*Título</label>
        <input class="form-control"
        type="text" id="nombre"
        placeholder="Título"
        [class.is-invalid]="nameInvalid"
        formControlName="name">
        <small *ngIf="nameInvalid" class="formError">Nombre de canción incorrecto. Mínimo 3 caracteres, máximo 20.</small>
      </div>

      <div class="form-group">
        <div class="d-flex align-items-end" *ngIf="!helpOrder">
          <label for="orden" class="label">*Orden</label>
          <button class="btn btn-outline-dark help" aria-label="Informacion sobre el campo orden" (click)="toogleHelpOrder()">?</button>
        </div>
        <div class="d-flex align-items-end" *ngIf="helpOrder">
          <label for="orden" class="label">El orden por defecto es el número de canciones más uno.</label>
          <button class="btn btn-outline-dark help" aria-label="Informacion sobre el campo orden" (click)="toogleHelpOrder()">?</button>
        </div>
        <input type="number" readonly required class="form-control" #orden id="orden" aria-describedby="namePlaylist" placeholder="{{order}}" formControlName="order">
      </div>

      <div class="form-group">
        <label for="exampleFormControlTextarea1">Letra</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Añade la letra de la cancion" rows="3" formControlName="lyrics"></textarea>
      </div>

      <div class="form-group">
        <label for="exampleInputImage" class="label-img">*Archivo</label>
        <input class="form-control upload-img"
        type="file" accept="audio/*" required (change)="setFile($event)"
        id="exampleInputImage">
        <small class="formError" *ngIf="!isFile">Fichero obligatorio.</small>
      </div>

      <button type="submit" aria-label="Crear" [disabled]="newSong.invalid || !isFile" class="btn btn-dark">CREAR</button>
    </form>
  </section>

  <section *ngIf="createError" class="modal d-block" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <section class="modal-dialog modal-dialog-centered modal-sm border-orange">
      <section class="modal-content bg-black text-white">
        <article class="modal-body">
          <button type="button" class="btn-close btn-close-white" aria-label="Cerrar tutorial" (click)="closeModalError()"></button>
          <p class="modal-text" style="color: white;">
             ¡Ese nombre ya existe!
          </p>
        </article>
      </section>
    </section>
  </section>
</main>
<app-reproductor></app-reproductor>
