.artista-nombre {
  grid-column: 5 / span 4;
}


h1, h5 {
  color:white;
  margin-bottom: 15px;
}


.albumDisp {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
  margin: 20px 20px;
}

.album-img {
  grid-column: 2 / span 3;
  width: 200px;
  height: 200px;
  padding-bottom: 20px;
}

.album-nombre {
  grid-column: 5 / span 4;
}

.divBuscador {
  grid-column: 9 / span 4;
  display: flex;
  align-items: center;
}

.lupa {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buscador{
  height: 40px;
  width: 400px;
  border-radius: 10px;
  flex-grow: 1;
}

.container{
  margin-top: 5%;
}

.cssbuttons-io-button {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
}

.cssbuttons-io-button svg {
  margin-right: 6px;
}

.cssbuttons-io-button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em white;
}

.cssbuttons-io-button:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}

.addAlbum{
  margin-right:25px;
}

.admin-button:hover {
  width: 150px;
  transition-delay: .2s;
}

.admin-button:hover > .paragraph {
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: .4s;
  transition-delay: .4s;
}

.admin-button:hover > .icon-wrapper .icon {
  transform: scale(1.1);
}

.bnt:hover > .icon-wrapper .icon path {
  stroke: black;
}

.paragraph {
  color: black;
  visibility: hidden;
  opacity: 0;
  font-size: 18px;
  margin-right: 5px;
  padding-left: 5px;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 18px;
}

.icon-wrapper {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-button {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: none;
  position: relative;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 5px .2px #00000035;
  box-shadow: 1px 1px 5px .2px #00000035;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  transition-delay: .2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: space-between;
}

.btn-fav{
  color:white;

}

.heart-svg:hover {
  fill: #E9840E;
  animation-name: pulse;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}



@media (max-width: 768px) {
  .albumDisp {
    grid-template-columns: repeat(8, 1fr);
  }

  .album-img {
    grid-column: 1 / span 4;
  }

  .album-nombre {
    grid-column: 5 / span 4;
  }

  .divBuscador {
    grid-column: 1 / span 8;
  }

  .buscador {
    width: 100%;
    max-width: 400px;
  }
}
