.homeDisp{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2%;
}

.profile-img2{
    justify-self: right;
    width:10%;
  }

.welcome{
    text-align: center;
}


.divBuscador{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.buscador{
    height: 40px;
    width: 400px;
    border-radius: 10px;
}

.home-container{
    display: flex;
    flex-direction: column;
}

.playlist-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.playlist-table{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    border: solid 5px;
    border-color: red;
}

.playlist-table>tr{
    margin-right: 5px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.addPlaylist{
    display: flex;
    align-items: center;
    flex-direction: column;
}