.form-group {
  margin-bottom:3%;
}

.form-control {
  background-color: rgba(217, 217, 217, 0.5);
}

.newpl-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

p{
  color:#1b1c1e;
}

.newpl-box{
  display: flex;
  flex-direction: column;
  background-color: #E9840E;
  width: 60%;
  height: 90%;
  border-radius: 30px;
  color: #1b1c1e;
  font-family: 'Inter';
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 50px;
  padding-right: 50px;
}

.label{
  width: 100%;
}

button{
  float:right;
}

.form-check-input:checked{
  background-color: black;
  --bs-check-indicator-color:
}

.go-back{
  width: 40px;
  float: right;
  border: 2px solid;
  font-weight: 800;
  height: 40px;
}

h1{
  margin-bottom: 30px;
}

