@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Inter:wght@800&family=Poppins&family=Kanit&display=swap');

body{
  background-color:black;
  font-family: 'Inter', sans-serif;
  margin-bottom: 80px;
}

.navbar-nav li{
  background-color: black;
  border-radius: 25px;
  margin-right: 10px;
}

h3{
  color: whitesmoke;
}

.logout{
  margin-right:25px;
}

.title{
  font-family: 'Poppins';
}

.nav{
  border:black;
}

p, .nav-link{
  color:white;
}

.active{
  background-color: white;
  border-radius: 25px;
  font-weight:bolder;
}

.nav-link:focus{
  background-color: greenyellow;
  border-radius: 25px;
  font-weight:bolder;
}

.navbar-brand{
  margin-left: 25px;
}

.logo{
  width:55px;
}

.buttons{
  margin-left: 30px;
}

.nav-link:hover{
  background-color:greenyellow;
  color:black;
  border:none;
  border-radius: 25px;
  transition-property: background-color, color;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  font-weight:bolder;
}

nav {
  background-color:#E9840E;
  height: 70px;
  display:flex;
  align-items: center;
}

.nav-item{
  height: 45px;
}

footer {
  color:white;
  text-align: center;
  bottom: 0;
  position: relative;
  width: 100%;
  font-size: xx-small;
  margin-top: 70px;
}

@media (max-width: 768px) {

  .navbar-collapse {
    display: none; /* Ocultar la barra de navegación */
  }

  .navbar-toggler:hover {
    background-color:greenyellow;
    color:black;
    border-radius: 25px;
    transition-property: background-color, color;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    font-weight:bolder;
  }

  .navbar-collapse.show {
    display: block; /* Mostrar la barra de navegación cuando se hace clic en el botón */
  }

  .navbar-nav {
    display:flex;
    flex-direction: column; /* Mostrar los elementos en una columna cuando se muestra la barra de navegación */
    align-items: center; /* Centrar los elementos verticalmente */
    background-color: black; /* Cambiar el fondo de la barra de navegación */
    justify-content: center;
  }

  .navbar-nav {
    width: 100%; /* Ancho completo del contenedor de la barra de navegación */
    display: flex;
    justify-content: center; /* Centrar los elementos en el eje horizontal */
    align-items: center; /* Centrar los elementos en el eje vertical */
}

.navbar-nav li {
    width: 60%; /* Ancho automático para cada elemento de la barra de navegación */
    text-align: center; /* Centrar el texto en cada elemento */
    margin-bottom: 10px;
    margin-top: 10px; /* Agregar margen inferior entre elementos */
    background-color: #E9840E;
    border-radius: 25px;
}

.logout {
    margin-right: 0px;
}

.nav-link {
  color: black;
}

.navbar-brand {
  margin-left: 25px;
}

.navbar-toggler {
  display: block;
  margin-right: 25px;
  border: 2px solid;
  border-radius: 25px;
}



}

.lupa{
  margin-right: 20px;
}
