.frog-container {
    margin-top:2%;
    display: flex;
    justify-content: center;
    background-color: rgba(233, 132, 14, 0.6);
    width: 83px;
    height: 83px;
    border-radius: 83px;
    margin-bottom:10px;
}

.frog {
    width:65px;
}
.reset-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top:1%;
}

.reset-box{
    display:flex;
    flex-direction:column;
    justify-content:left;
    background-color:#E9840E;
    width:60%;
    height:90%;
    border-radius:30px;
    color: #1b1c1e;
    font-family:'Inter';
    padding-top:25px;
    padding-bottom:25px;
    padding-left:50px;
    padding-right:50px;
}
.btn{
    margin-top:1.5%;
    float:right;
    margin-right: 1%;
}

.form-group {
    margin-bottom:2%;
}
  
.form-control {
    background-color: rgba(217, 217, 217, 0.5);
}
  
h1{
    padding-bottom: 20px;
    width:100%;
}
  
  
  
@media (max-width: 768px) {
.reset-box{
    width: 70%;
}
}