<main class="reset-container">
    <article class="frog-container">
        <img src="../../../assets/mediafrogLogo.svg" alt="Logo de Mediafroggy - Rana escuchando musica" class="frog">
      </article>
 <section class="reset-box">
    <h1 tabindex=0>RESETEA CONTRASEÑA</h1>
    <article>
     <form [formGroup]="resetPassword" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="inputEmail">E-mail</label>
            <input class="form-control"
            type="text" id="inputEmail"
            placeholder="Introduzca e-mail"
            [class.is-invalid]="emailInvalid"
            formControlName="email">
            <small *ngIf="emailInvalid" class="formError">E-mail incorrecto.</small>
        </div>

        <div class="form-group">
            <label for="securityQuestion">¿Cuál es tu canción favorita?</label>
            <input class="form-control"
            type="text" id="securityQuestion"
            placeholder="Introduzca respuesta de seguridad"
            formControlName="securityQuestion">
        </div>

        <div class="form-group">
            <label for="newPassword">Nueva Contraseña</label>
            <input class="form-control"
            type="password" #newPassword
            placeholder="Introduzca contraseña"
            [class.is-invalid]="newPasswordInvalid"
            formControlName="newPassword">
            <small *ngIf="newPasswordInvalid" class="formError">Contraseña inválida. Mínimo 6 caracteres</small>
        </div>

        <div class="form-group">
            <label for="newPassword2">Repita la Contraseña</label>
            <input class="form-control"
            type="password" #newPassword2
            placeholder="Introduzca contraseña"
            [class.is-invalid]="newPassword2Invalid"
            formControlName="newPassword2">
            <small *ngIf="newPassword2Invalid" class="formError">Las contraseñas no coinciden</small>
        </div>
        <button class="btn btn-light" (click)="goToHome()">Ir a Login</button>
        <button type="submit" aria-label="Resetear contraseña" [disabled]="resetPassword.invalid || newPassword.value != newPassword2.value " class="btn btn-dark">Restaurar contraseña</button>
      </form>
    </article>
      <small class="formError">{{errorResetingPassword}}</small>
 </section>
</main>