<app-navbar></app-navbar>
<app-spinner *ngIf="!users"></app-spinner>
<section class="users-container" *ngIf="users">
  <h2>Usuarios registrados</h2>
  <article class="table-container">
    <table class="table table-hover bg-white">
      <thead>
        <tr>
          <th>Email</th>
          <th>ID</th>
          <th>Username</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users | slice:pagUser:pagUser+4">
          <td>{{ user.email }}</td>
          <td>{{ user.id }}</td>
          <td>{{ user.username }}</td>
          <td>
          <button aria-label="Eliminar usuario" class="btn btn-dark" (click)="deleteQuestion(user)">
            <span class="icon-wrapper">
              <svg xmlns="http://www.w3.org/2000/svg" width="25px" height="25px" viewBox="0 0 24 24" fill="white" class="bi bi-trash3" viewBox="0 0 16 16">
                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
              </svg>
            </span>
          </button>
          </td>
        </tr>
        <div class="d-flex justify-content-center">
          <button class="btn btn-light pag-button-prev" aria-label="Página anterior de usuarios" (click)="decreasePagUser()">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="47" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
            </svg>
          </button>
          <button class="btn btn-light pag-button-next" aria-label="Página siguiente de usuarios" (click)="increasePagUser()">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="47" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
            </svg>
          </button>
        </div>
      </tbody>
    </table>
  </article>
  <section *ngIf="deletePrompt" class="modal d-block" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <section class="modal-dialog modal-dialog-centered modal-md border-orange">
      <section class="modal-content bg-black text-white">
        <article class="modal-header">
          <h4>Eliminando al usuario: {{userDelete.username}}</h4>
          <button type="button" class="btn-close btn-close-white" aria-label="Cerrar tutorial" (click)="closeModalError()"></button>
        </article>
        <article class="modal-body">
          <p class="modal-text" style="color: white;">
             Si estas seguro de que quieres eliminar este usuario escribe su nombre:
          </p>
          <form [formGroup]="formDelete" (ngSubmit)="checkDeleteName()">
            <input formControlName="prompt" class="form-control" type="text">
            <button class="btn btn-modal btn-light" aria-label="Cancelar eliminacion" (click)="closeModalError()">No</button>
            <button type="submit" class="btn btn-modal btn-modal-ok btn-light" aria-label="Eliminar artista">Si</button>
          </form>
        </article>
      </section>
    </section>
  </section>
</section>
