.custom-card {
  background-color: transparent;
}

.card-body{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img{
  height: 200px;
  width: 200px;
}

h1, h5, p {
  color:white;
  margin-bottom: 15px;
}


.artistaDisp {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
  margin: 20px 20px;
}

.artista-img {
  grid-column: 2 / span 3;
}

.artista-nombre {
  grid-column: 5 / span 4;
}

.divBuscador {
  grid-column: 9 / span 4;
  display: flex;
  align-items: center;
}

.lupa {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buscador{
  height: 40px;
  width: 400px;
  border-radius: 10px;
  flex-grow: 1;
}

.container{
  margin-top: 5%;
}

.container {
  margin-top: 10px;
}

.icon-wrapper {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  transform: scale(.9);
  transition: .2s linear;
}

.icon path {
  stroke: #000;
  stroke-width: 2px;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

label{
  color:white;
}

.form-group{
  width: 80%;
}

.btn-fav{
  color:white;
  margin-top: 10px;
}

.heart-svg:hover {
  fill: #E9840E;
  animation-name: pulse;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  .artistaDisp {
    grid-template-columns: repeat(8, 1fr);
  }

  .artista-img {
    grid-column: 1 / span 4;
  }

  .artista-nombre {
    grid-column: 5 / span 4;
  }

  .divBuscador {
    grid-column: 1 / span 8;
  }

  .buscador {
    width: 100%;
    max-width: 400px;
  }
}
