h1{
    color: greenyellow;
}

a{
    color: greenyellow;
}

a:hover{
    background-color:greenyellow;
    color:black;
    border-radius: 2px;
    transition-property: background-color, color;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    font-weight:bolder;
}
.link{
  width: 60px;
}

.container{
  margin-top: 3%;
}
