<!-- <app-spinner></app-spinner> -->
<section class="register-container">
  <article class="frog-container">
    <img src="../../../assets/mediafrogLogo.svg" alt="Logo de Mediafroggy - Rana escuchando musica" class="frog">
  </article>
  <article class="register-box">
    <h1 tabindex=0>REGISTRATE</h1>
    <div>
      <form [formGroup]="formReg" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="exampleInputEmail1">*E-mail</label>
          <input class="form-control"
          type="email"
          placeholder="Introduzca e-mail"
          [class.is-invalid]="emailInvalid"
          formControlName="email">
          <small *ngIf="emailInvalid" class="formError">Ingrese un correo electrónico válido.</small>
        </div>

        <div class="form-group">
          <label for="exampleInputUser1">*Usuario</label>
          <input class="form-control"
          type="text"
          placeholder="Introduzca usuario"
          [class.is-invalid]="usernameInvalid"
          formControlName="username">
          <small *ngIf="usernameInvalid" class="formError">Nombre de usuario incorrecto. Mínimo 4 caracteres.</small>
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">*Contraseña</label>
          <input class="form-control"
          type="password"
          placeholder="Introduzca contraseña"
          [class.is-invalid]="passwordInvalid"
          formControlName="password">
          <small *ngIf="passwordInvalid" class="formError">Contraseña incorrecta. Mínimo 6 caracteres.</small>
        </div>

        <div class="form-group">
          <label for="securityQuestion">*Pregunta de seguridad: ¿Cuál es tu canción favorita?</label>
          <input class="form-control"
          type="text" id="securityQuestion"
          placeholder="En caso de olvido de contraseña"
          [class.is-invalid]="securityQuestionInvalid"
          formControlName="securityQuestion">
          <small *ngIf="securityQuestionInvalid" class="formError">Valor incorrecto. Mínimo 4 caracteres.</small>
        </div>

        <button type="submit" class="btn btn-dark" [disabled]="formReg.invalid" aria-label="Únete">ÚNETE</button>
      </form>
      <button class="btn btn-outline-dark" (click)="goToLogin()" aria-label="Ir a iniciar sesión">INICIA SESIÓN</button>
    </div>
  </article>
</section>


