thead{
  background-color: gainsboro;
  border-radius: 10px;
}

h2{
  color:black;
  text-align: center;
  padding-bottom: 10px;
}


.users-container{
  max-width: 800px;
  margin: 0 auto;
  margin-top:2%;
  background-color: #E9840E;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 15px;

}
