<app-navbar></app-navbar>
<app-spinner *ngIf="!owner"></app-spinner>
<section class="playlistDisp" *ngIf="owner">
  <img class="playlist-img" [src]="playlistInfo.image">
  <div class="playlist-nombre">
  </div>
  <div class="d-flex justify-content-between">
    <div></div>
    <div>
      <h1> {{playlistInfo.name}} </h1>
      <h5> Creada por: {{owner}} <img  class="img-owner" [src]="imageOwner"></h5>


    </div>
    <div class="divBuscador">
      <button class="btn" (click)="setFilterName(search.value)">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
      </button>
      <input class="buscador" [(ngModel)]="query" #search type="text" placeholder="Filter de Canciones">
    </div>
  </div>
  
  <div class="container" *ngIf="isVisible">
      <div class="row">
        <app-tarjeta-cancion *ngFor="let song of songs | byName:query" [song] = "song"  [playlists] = "playlists" (messageEvent)="receiveMessage($event)"></app-tarjeta-cancion>
      </div>
  </div>

  <section *ngIf="!isVisible">
    <h3>Estás intentando acceder a una playlist privada, por lo tanto no se podrá mostrar para usted.</h3>
  </section>
</section>
<app-footer></app-footer>
<app-reproductor [reproduciendo] = "reproduciendo"></app-reproductor>
