<app-navbar></app-navbar>
<app-spinner *ngIf="!owner"></app-spinner>
<main class="playlistDisp" *ngIf="owner">
  <section *ngIf="!edit" class="playlist-name">
    <article class="d-flex align-items-center">
      <h1> {{playlistInfo.name}} </h1>
      <button class="copy" (click)="copyUrlToClipboard()">
        <span data-text-end="Copied!" data-text-initial="Copiar al portapapeles" class="tooltip"></span>
        <span>
          <svg xml:space="preserve" style="enable-background:new 0 0 512 512" viewBox="0 0 6.35 6.35" y="0" x="0" height="20" width="20" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xmlns="http://www.w3.org/2000/svg" class="clipboard">
            <g>
              <path fill="currentColor" d="M2.43.265c-.3 0-.548.236-.573.53h-.328a.74.74 0 0 0-.735.734v3.822a.74.74 0 0 0 .735.734H4.82a.74.74 0 0 0 .735-.734V1.529a.74.74 0 0 0-.735-.735h-.328a.58.58 0 0 0-.573-.53zm0 .529h1.49c.032 0 .049.017.049.049v.431c0 .032-.017.049-.049.049H2.43c-.032 0-.05-.017-.05-.049V.843c0-.032.018-.05.05-.05zm-.901.53h.328c.026.292.274.528.573.528h1.49a.58.58 0 0 0 .573-.529h.328a.2.2 0 0 1 .206.206v3.822a.2.2 0 0 1-.206.205H1.53a.2.2 0 0 1-.206-.205V1.529a.2.2 0 0 1 .206-.206z"></path>
            </g>
          </svg>
          <svg xml:space="preserve" style="enable-background:new 0 0 512 512" viewBox="0 0 24 24" y="0" x="0" height="18" width="18" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xmlns="http://www.w3.org/2000/svg" class="checkmark">
            <g>
              <path data-original="#000000" fill="currentColor" d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z"></path>
            </g>
          </svg>
        </span>
      </button>
    </article>
    <article>
      <h5 *ngIf="playlistInfo.private && !edit">Privada</h5>
      <h5 *ngIf="!playlistInfo.private && !edit">Pública</h5>
    </article>
  </section>

  <section class="d-flex justify-content-between">
    <section>
      <article *ngIf="edit">
        <form [formGroup]="updatePlaylist" (ngSubmit)="onSubmit()">
         <div class="form-group">
           <label for="namePlaylist" class="label">Nombre playlist</label>
           <input type="text" class="form-control" #namePlaylist id="namePlaylist" placeholder="{{playlistInfo.name}}" formControlName="name">
         </div>
         <div class="form-check">
           <input class="form-check-input" #privateCheck type="checkbox" formControlName="private" >
           <label class="form-check-label" for="flexCheckDefault">
             Privada
           </label>
        </div>
         <button type="submit" [disabled]="( namePlaylist.value.length === 0 || namePlaylist.value.length > 17  && privateCheck.checked === playlistInfo.private )" class="btn btn-dark">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
          </svg>
         </button>
         <button class="btn btn-dark admin-button" (click)="toggleEdit()">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-octagon" viewBox="0 0 16 16">
            <path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z"/>
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
          </svg>
         </button>
       </form>
     </article>

     <article class="admin">
       <button class="btn btn-light admin-button" *ngIf="!edit && isMyPlaylist" (click)="toggleEdit()">
         <p class="paragraph"> editar </p>
           <span class="icon-wrapper">
             <svg xmlns="http://www.w3.org/2000/svg" width="25px" height="25px" viewBox="0 0 24 24" class="bi bi-pencil-square" viewBox="0 0 16 16">
               <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
               <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
             </svg>
           </span>
       </button>
     </article>
      <h5> Creada por: {{owner.username}} <img  class="img-owner" [src]="owner.imageProfile"></h5>
    </section>
  </section>


  <section class="container-fluid" *ngIf="isVisible">
    <div class="row">
      <div class="col-md-9 col-sm-12">
        <div class="divBuscador">
          <button class="btn lupa" (click)="setFilterName(search.value)">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
          </button>
          <input class="buscador" [(ngModel)]="query" #search type="text" placeholder="Filter de Canciones">
        </div>
        <app-tarjeta-cancion *ngFor="let song of songs | byName:query" [song] = "song"
        [playlists] = "playlists" [playlist] = "playlistId"
        (sendSong)="receiveSong($event)"></app-tarjeta-cancion>
      </div>
      <div class="col-md-3 col-sm-12">
        <app-lyrics></app-lyrics>
      </div>
    </div>
  </section>

  <section *ngIf="!owner && !isVisible">
    <h3>Estás intentando acceder a una playlist privada, por lo tanto no se podrá mostrar para usted.</h3>
  </section>
  <app-reproductor [receivedSong] = "sendedSong" [songsToPlay]="songs"
   (messageEvent)="receiveSong($event)"></app-reproductor>
</main>
