<app-navbar></app-navbar>
<app-spinner *ngIf="!owner"></app-spinner>
<section class="playlistDisp" *ngIf="owner">
  <img class="playlist-img" [src]="playlistInfo.image">
  <div class="playlist-nombre">
  </div>

  <div class="d-flex justify-content-between">
    <div></div>
    <div>
      <h1 *ngIf="!edit" (click)="reproducirPlaylist()"> {{playlistInfo.name}} </h1>
      <p *ngIf="playlistInfo.private && !edit">Privada</p>
      <p *ngIf="!playlistInfo.private && !edit">Pública</p>
      <div *ngIf="edit">
        <form [formGroup]="updatePlaylist" (ngSubmit)="onSubmit()">
         <div class="form-group">
           <label for="namePlaylist" class="label">Nombre playlist</label>
           <input type="text" class="form-control" #namePlaylist id="namePlaylist" placeholder="{{playlistInfo.name}}" formControlName="name">
         </div>
         <div class="form-check">
           <input class="form-check-input" [(ngModel)]="privateChecked" type="checkbox" formControlName="private" >
           <label class="form-check-label" for="flexCheckDefault">
             Privada
           </label>
        </div>
         <button type="submit" [disabled]="(namePlaylist.value.length<1)" class="btn btn-dark">ACTUALIZAR</button>
         <button class="btn btn-dark admin-button" (click)="toggleEdit()">CANCELAR</button>
       </form>
     </div>

      <button class="btn btn-light admin-button" *ngIf="!edit" (click)="toggleEdit()">
        <p class="paragraph"> editar </p>
          <span class="icon-wrapper">
            <svg xmlns="http://www.w3.org/2000/svg" width="25px" height="25px" viewBox="0 0 24 24" class="bi bi-pencil-square" viewBox="0 0 16 16">
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg>
          </span>
      </button>



      <h5> Creada por: {{owner}} <img  class="img-owner" [src]="imageOwner"></h5>
    </div>

    <div class="divBuscador">
      <button class="btn" (click)="setFilterName(search.value)">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
      </button>
      <input class="buscador" [(ngModel)]="query" #search type="text" placeholder="Filter de Canciones">
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9">
        <app-tarjeta-cancion *ngFor="let song of songs | byName:query" [song] = "song"
        [playlists] = "playlists" (sendLyrics)="obtainLyrics($event)"
        (sendSong)="receiveSong($event)"></app-tarjeta-cancion>
      </div>
      <div class="col-md-3">
        <app-lyrics [lyrics]="obtainedLyrics"></app-lyrics>
      </div>
    </div>
  </div>

  <section *ngIf="!isVisible">
    <h3>Estás intentando acceder a una playlist privada, por lo tanto no se podrá mostrar para usted.</h3>
  </section>
</section>
<app-footer></app-footer>
<app-reproductor [reproduciendo] = "reproduciendo" [playlist]="songs"
 (messageEvent)="receiveSong($event)"></app-reproductor>
