.homeDisp{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2%;
    flex-wrap: wrap;
}

.profile-img2{
    justify-self: right;
    width:150px;
    height:150px;
    border-radius: 50%;
  }

.welcome{
    text-align: center;
}

.divBuscador{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.buscador{
    height: 40px;
    width: 400px;
    border-radius: 10px;
}

.home-container{
    display: flex;
    flex-direction: column;
}

.playlist-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.addPlaylist{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.btn:hover svg {
  fill: #E9840E;
}

.homeDisp .buscador {
  margin-left: 10px;
  width: 250px;
}

h2 {
  color:white;
}

.favs{
  margin-left: 30px;
}

.divider {
  position: relative;
  height: 10px;
  margin: 50px 50px;
  background: linear-gradient(to right, #e9840e, #fff);
  border-radius: 5px;
}


/* Media queries para hacerlo responsive */

@media screen and (max-width: 768px) {
  .homeDisp .profile-img2 {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom:30px;
  }

  .homeDisp .welcome {
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .homeDisp .buscador {
    margin-left: 0;
    width: 100%;
    margin-bottom:30px;
  }
}
