.homeDisp{
    margin-top: 2%;
}

.profile-img2{
    width:200px;
    height:200px;
    border-radius: 50%;
  }

h3{
    text-align: center;
}

.welcome{
    text-align: center;
}

.divBuscador{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.buscador{
  height: 40px;
  width: 400px;
  border-radius: 10px;
  flex-grow: 0.6;
}

.home-container{
    flex-direction: column;
}

.addPlaylist{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.playlist-list{
  margin: 0 auto;
  margin-bottom: 6%;
}

.btn:hover svg {
  fill: #E9840E;
}

.homeDisp .buscador {
  margin-left: 10px;
  width: 250px;
}

h1, h2, h3 {
  color:white;
  padding-bottom: 5px;
  padding-top: 5px;
}

.header-playlist{
  margin-bottom: 55px;
}

.favs{
  margin-left: 50px;
  margin-right: 50px;
}

.divider {
  position: relative;
  height: 10px;
  margin: 50px 50px;
  background: linear-gradient(to right, #e9840e, #fff);
  border-radius: 5px;
}

.heart-svg:hover {
  fill: #E9840E;
  animation-name: pulse;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.start-tutorial{
  width: 50%;
  height: 60px;
  margin: 0 auto;
  animation: blink 1s infinite;
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.modal-title{
  color:black;
}

.modal-text{
  color: black;
  font-family: Poppins;
  font-size: 20px;
}

@media (max-width: 769px) {
  .start-tutorial{
    height: 75px;
  }
}

@media (max-width: 769px) {
  .start-tutorial{
    height: 75px;
  }
}

@keyframes blink {
  0% {
    background-color: white;
  }
  50% {
    background-color: greenyellow;
  }
  100% {
    background-color: white;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.container{
  margin-top: 50px;
}

