img{
    width: 200px;
    height: 200px;
    padding-bottom: 15px;

}
p{
  color:black;
}
h5{
    color: rgb(255, 255, 255);
    width: 100%;
}

.artist-container{
  max-width: 1000px;
  margin: 0 auto;
  margin-top:2%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 15px;
  text-align: center;
}

.btn-fav{
  color:white;
  margin-top: 10px;
}

.heart-svg:hover {
  fill: #E9840E;
  animation-name: pulse;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

