<app-navbar></app-navbar>
<app-spinner *ngIf="!userInfo"></app-spinner>
<section class="profile-container" *ngIf="userInfo">

  <section class="profile-box">
    <div>
      <button class="btn btn-outline-dark" (click)="goHome()">X</button>
      <br>
      <form [formGroup]="updateUser" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <img class="profile-img" [src]="userInfo.imageProfile" width="100" *ngIf="userInfo.imageProfile">
          <label for="exampleInputImage" class="label-img">Foto de perfil</label>
          <input type="file" (change)="setFile($event)" class="form-control upload-img" formControlName="imageProfile">
        </div>
        <div class="form-group">
          <label for="exampleInputUser" class="label">Usuario</label>
          <input type="text" class="form-control" id="exampleInputUser1" aria-describedby="user" placeholder={{userInfo.username}} formControlName="username">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Nueva contraseña</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder =""  formControlName="password" >
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">E-mail</label>
          <input type="text" class="form-control"  id="exampleInputEmail1" placeholder={{userInfo.email}} formControlName="email">
        </div>
        <div class="form-group">
          <label for="inputCurrentPassword">Contraseña actual</label>
          <input type="password" class="form-control" #currentPassword id="inputCurrentPassword" placeholder="*******" formControlName="currentPassword">
          <p *ngIf="passwordError"> {{passwordError}} </p>
        </div>
        <small>*Si actualizas tu e-mail deberás iniciar sesión nuevamente.</small> <br>
        <button type="submit" [disabled]="updateUser.untouched || currentPassword.value.length <6 " class="btn btn-dark">ACTUALIZAR</button>
      </form>

    </div>
  </section>
<app-footer></app-footer>
</section>


