<app-navbar></app-navbar>
<main class="newpl-container">
  <section class="newpl-box">
    <article class="header d-flex justify-content-between">
      <h1 tabindex=0>Nuevo Artista</h1>
      <button class="go-back btn btn-outline-dark" (click)="goBack()">X</button>
    </article>
    <form [formGroup]="newArtist" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="nameArtist" class="label">*Nombre</label>
        <input class="form-control"
        type="text"
        #nameArtist
        id="nameArtist"
        [class.is-invalid]="nameInvalid"
        formControlName="name">
        <small *ngIf="nameInvalid" class="formError">Escribe un nombre válido.  Mínimo 2 caracteres y máximo 20 caracteres.</small>
      </div>
      <div class="form-group">
        <label for="descriptionArtist" class="label">*Descripcion</label>
        <input class="form-control"
        type="text"
        #descriptionArtist
        id="descriptionArtist"
        [class.is-invalid]="descriptionInvalid"
        formControlName="description">
        <small *ngIf="descriptionInvalid" class="formError">Escribe una descripcion válida. Máximo 100 caracteres.</small>
      </div>
      <div class="form-group">
        <label for="inputImage" class="upload-img label-img">*Imagen</label>
        <input type="file"
        #file
        (change)="setFile($event)"
        required
        id="inputImage"
        class="form-control upload-img"
        formControlName="imageArtist">
      </div>
      <small *ngIf="!isFile" class="formError">Es obligatorio añadir una imagen para el artista.</small>
      <button type="submit" [disabled]="newArtist.invalid" class="btn btn-dark">CREAR</button>
    </form>
  </section>
  <div >
    Status: {{newArtist.status}}
    {{newArtist.value | json}}
  </div>
</main>
<app-reproductor></app-reproductor>

