<app-navbar></app-navbar>
<section class="profile-container">
  <section class="profile-box">
    <div>
      <form  [formGroup]="updateUser" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <img [src]="imageProfile" width="100" *ngIf="imageProfile">
          <label for="exampleInputImage" class="upload-img label-img">Foto de perfil</label>
          <input type="file" (change)="setMyEvent($event)" class="form-control upload-img" formControlName="imageProfile">
        </div>
        <div class="form-group">
          <label for="exampleInputUser" class="label">Usuario</label>
          <input type="text" class="form-control" id="exampleInputUser1" aria-describedby="user" placeholder={{userInfo.username}} formControlName="username">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Contraseña</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder={{userInfo.password}} formControlName="password" >
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email</label>
          <input type="text" class="form-control" id="exampleInputEmail1" placeholder={{userInfo.email}} formControlName="email">
        </div>
        <small>Si actualizas tu email deberás iniciar sesión nuevamente.</small>
        <button class="btn btn-outline-dark" id="entrar">VOLVER</button>
        <button type="submit" class="btn btn-dark" id="entrar">ACTUALIZAR</button>
      </form>

    </div>
  </section>
</section>
<footer class="licencia">
  <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Licencia de Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
  <br />
  Este obra está bajo una
  <br><a rel="license"  style="color:white;" href="http://creativecommons.org/licenses/by-sa/4.0/">licencia de Creative Commons
  Reconocimiento-CompartirIgual
  4.0 Internacional</a>
</footer>


