.buscadorSection{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

.buscadorInput{
    width: 60%;
    color:green;
    margin-right: 5px;
}

.buscadorInput::placeholder{
    color: green;
}

.busquedaContainer{
    display: flex;
    justify-content: space-around;
}



.filtrosSection{
    background-color: whitesmoke;
    margin-right: 45px;
    width: 90%;
    height: 300px;
    padding-left: 35px;
    padding-top: 10px;
    border-radius: 10px;
}

.filtrosSection>p{
    color: green;
}
h3{
    margin-bottom: 20px;
    margin-top: 20px;
}

.cssbuttons-io-button {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
}

.cssbuttons-io-button svg {
  margin-right: 6px;
}

.cssbuttons-io-button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em white;
}

.cssbuttons-io-button:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}

.adminButtons {
  margin-top: 20px;
}
